.area--three{
       display: grid;
       grid-template-columns: repeat(2,1fr);
    }
    .area--three--content{
       padding: 200px 80px;
       background-image: url('../../images/bg2.jpg');
       background-position: left;
       background-size: cover;
    }
    .area--three--text{
       margin-bottom: 50px;
       line-height: 25px;
    }
    .area--three--img1{
       background-image: url('../../images/f5.jpg');
       background-position: center;
       background-size: cover;
    }
    
    