.area--for{
   background-color: #e8e9ee;
   display: grid;
   grid-template-columns: 450px 1fr;
}

.area--for--content{
   padding: 160px    80px;
}

.area--for--text{
   margin-bottom: 50px;
   line-height: 25px;
}

.area--for--img{
   background-image: url('../images/bg3.jpg');
   background-position: left;
}